body,html{
	width: 100%;
	height: 100%;
}	

h1{
	position: absolute; 
	top: 5%;
	left: 46%;
}

p{
	position: absolute;
	top: 90%;
	left: 23%;
	color: white;
	font-size: 16pt;
}

img{
	width: 100%;
	height: 97%;

}